@tailwind base;
@tailwind components;
@tailwind utilities;

.flex {
  display: flex;
  height: 100%;
}

.container {
  display: flex; /* Use flexbox to create a flex container */
  align-items: stretch; /* Adjust alignment to stretch both columns */
}

/* .flex-1 {
  flex-direction: row;
  flex: 1;
} */
